.navbar{
    background:  #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 10px 20px #00000029;
opacity: 1;
position: fixed;
}
.Jewelvue{
    width: 161px;
    height: 56px;
  background: none;
    opacity: 1;

    
}
.Jewelvue>h1{
    color: #000A2D;
}
.Jewelvue>img{
   padding-top: 0px;
}
.nav-item-products{
    
    width: 76px;
    height: 56px;
    text-align: center;
    font: normal normal normal 14px/61px Open Sans,sans-serif;
    letter-spacing: 0px;
    color: #000A2D;
    opacity: 1;


/* UI Properties */
opacity: 1;



}
a:link { 
    text-decoration: none; 
     
   }


.nav-item-gallery{
   
width: 76px;
height: 56px;

/* UI Properties */

text-align: center;
font: normal normal 300 14px/61px Open Sans,sans-serif;
letter-spacing: 0px;
color: #000A2D;
opacity: 1;
}

.nav-item-company{
    
    
width: 76px;
height: 56px;

/* UI Properties */
text-align: center;
font: normal normal 300 14px/61px Open Sans,sans-serif;
letter-spacing: 0px;
color: #000A2D;
opacity: 1;
margin-bottom: 10px;

}
.nav-item-community{
    width: 100px;
height: 56px;

/* UI Properties */
text-align: center;
font: normal normal 300 14px/61px Open Sans,sans-serif;
letter-spacing: 0px;
color: #000A2D;
opacity: 1;
margin-bottom: 10px;
} 
.nav-list-right{
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    height: 56px;
    
}

button{
    box-sizing: unset;
   
}

.nav-item-demopage{
   margin-top:13px;
margin-right :31px;
width: 105px;
height: 25px!important;


border: 2px solid #000A2D;
border-radius: 5px;
background: local;
margin-left: 16px;

font: normal normal bold 14px/19px Open Sans,sans-serif;
letter-spacing: 1.5px;
color: #000A2D;
text-transform: uppercase;


}
.products-main{
    width:100%;
height: 460px;
background: #FFFBF5 0% 0% no-repeat padding-box;
opacity: 1;
}
.products-main>h1{
    text-align: center;
    font: normal normal bold 50px/61px Open Sans;
    letter-spacing: 0px;
    color: #000A2D;
    opacity: 1;
padding-top: 143px;
}
.products-main>h2{
    margin-top: 24px;
    max-width: 996px;
text-align: center;
font: normal normal 300 25px/40px Open Sans;
letter-spacing: 0px;
color: #000A2D;
opacity: 1;
margin-left: auto;
margin-right: auto;
}
.carousel-div{
    width: 100%;
    height: 675px;
}


.carousel-content{
   padding-top: 116px;
    width: 100%;
    max-width: 1260px;
height: 420px;
opacity: 1;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: space-between;
}
.carousel-text{
    width: 100%;
    max-width: 584px;
height: 398px;
}
.carousel-text>h1{
    margin-top: 60px;
    text-align: left;
font: normal normal bold 30px/39px Open Sans;
letter-spacing: 1.35px;
color: #000A2D;
opacity: 1;
}
.carousel-text>p{
    margin-top: 20px;
    text-align: left;
font: normal normal normal 18px/33px Open Sans;
letter-spacing: 0.81px;
color: #000A2D;
opacity: 1;
}
.carousel-content>img{
    max-width: 595px;
height: 420px;

opacity: 1;
}
.carousel-container{
    width: 100%;
    max-width: 535px;
    height: 400px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 5px 15px #00000029;
border: 2px solid #C6C6C6;
border-radius: 10px;
opacity: 1;
}
.carousel-buttons{
    width: 59px;
    height: 17px;
    margin-top: 17px;
    margin-left: 20px;
}
.carousel-container-1{
    margin-top: 15px;
  width: 99.99%;
height: 347px;
border: 2px solid var(--unnamed-color-c6c6c6);
background: #F9F9F9 0% 0% no-repeat padding-box;
border-top: 2px solid #C6C6C6;
border-radius: 0px 0px 10px 10px;
opacity: 1;
}
.online-that-fills{
    width: 100%;
height: 675px;
background: #Fcfcfc 0% 0% no-repeat padding-box;
opacity: 1;
}

.slider{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  /* .slide img{
    width: 800px;
    height: 500px;
  } */
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 533px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid grey;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    background-color: grey;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: black;
  }
  .manual-btn:active{
background-color: black;
  }
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 533px;
    justify-content: center;
    margin-top: 320px;
    display: none;
  }
  
  .navigation-auto div{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }

.online-that-fills-content{
    width: 100%;
    max-width: 1260px;
height: 420px;
margin-left: auto;
margin-right: auto;
padding-top: 120px;
display: flex;
justify-content: space-between;

}
#image-1-carousel{
    margin-left: 40px;
    margin-top: 20px;
}
#image-2-carousel{
    height: 100%;
    margin-bottom: 100px;
    margin-left: 70px;
}
.online-image-container{
    width: 100%;
    max-width: 600px;
height: 450px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-707070);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 10px;
opacity: 1;
}
.online-video-container{
    width: 100%;
    background-color: #F9F9F9;
    margin-top: 15px;
    border-top: 2px solid #C6C6C6;
border-radius: 0px 0px 10px 10px;
height: 395px;
}

.online-video-container>video{
    margin-left: 5px;
    margin-top: 8px;
    width:98%;
    height:96%;
    }
.online-image-text{
    width: 100%;
    max-width: 584px;

}
.online-image-text>h1{
    margin-top: 60px;
    text-align: left;
font: normal normal bold 30px/44px Open Sans;
letter-spacing: 1.35px;
color: #000A2D;
opacity: 1;
text-transform: capitalize;
}
.online-image-text>p{
    margin-top: 20px;
    text-align: left;
font: normal normal normal 18px/33px Open Sans;
letter-spacing: 0.81px;
color: #000A2D;
opacity: 1;
}
.demo-page-div-1{
    width:100%;
    height: 675px;
}
.demo-page-div-content-1{
    width: 100%;
    max-width: 1260px;
height: 450px;
margin-left: auto;
margin-right: auto;

padding-top: 120px;

opacity: 1;
display: flex;
justify-content: space-between;
}
.demo-page-text-1{
    width: 100%;
    max-width: 584px;
    height: 100%;


}
.demo-page-text-1>h1{
    margin-top: 60px;
    text-align: left;
font: normal normal bold 30px/39px Open Sans;
letter-spacing: 1.35px;
color: #000A2D;
opacity: 1;
}
.demo-page-text-1>p{
    margin-top: 20px;
    text-align: left;
font: normal normal normal 18px/33px Open Sans;
letter-spacing: 0.81px;
color: #000A2D;
opacity: 1;
}
.demo-image-container{
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 10px;
opacity: 1;
width: 100%;
max-width: 600px;
height: 450px;
}
.demo-image-main-container>img{
    margin-left: 35px;
    margin-top: 15px;
}
.demo-image-main-container{
    width: 100%;
    background-color: #F9F9F9;
    margin-top: 15px;
    border-top: 2px solid #C6C6C6;
border-radius: 0px 0px 10px 10px;
height: 395px;
}
.engage-div{
    width: 100%;
    height: 675px;
background: #Fcfcfc 0% 0% no-repeat padding-box;
}
.engage-div-content{
    width:100%;
    max-width: 1260px;
height: 450px;
margin-left: auto;
margin-right: auto;
padding-top: 120px;
display: flex;
justify-content: space-between;

}
.engage-image-container{
    width: 100%;
    max-width: 600px;
height: 450px;

background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 10px;
}
.engage-image-container>img{
    
    margin-top: 10px;
    margin-left: 90px;
    width: 400px;
 
}
.engage-text{
    width: 100%;
    max-width: 584px;
height: 398px;
}
.engage-text>h1{
    margin-top: 60px;
    text-align: left;
font: normal normal bold 30px/39px Open Sans;
letter-spacing: 1.35px;
color: #000A2D;
opacity: 1;
}
.engage-text>p{
    margin-top: 20px;
    text-align: left;
font: normal normal normal 18px/33px Open Sans;
letter-spacing: 0.81px;
color: #000A2D;
}
.simplify-div{
    width: 100%;
    height: 675px;

}
.simplify-div-content{
    height: 420px;
    width: 100%;
    max-width:1260px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    display: flex;
justify-content: space-between;


}
.simplify-text{
    width: 100%;
    max-width:584px;


}
.simplify-text>h1{
    margin-top: 60px;
    text-align: left;
font: normal normal bold 30px/39px Open Sans;
letter-spacing: 1.35px;
color: #000A2D;
opacity: 1;
}
.simplify-text>p{
    margin-top: 20px;
    text-align: left;
font: normal normal normal 18px/33px Open Sans;
letter-spacing: 0.81px;
color: #000A2D;
opacity: 1;
}
.simplify-image-container{
    width:100%;
    max-width:600px;
height: 450px;

background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 10px;
opacity: 1;
}
.simplify-image-container>img{
    width: 100%;
    max-width:545px ;
    margin-left: 23px;
    margin-right: auto ;
    margin-top: 25px;
    height: 400px;
}
.mobile-buttons{
    display: none;
}
.partner-section{
    background-color: #Fcfcfc;
}